<configuration>
    <appender name="JSON_LINES_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withFormattedMessage>true</withFormattedMessage>
            <withMessage>true</withMessage>

            <withArguments>false</withArguments>
            <withContext>false</withContext>
            <withMDC>false</withMDC>
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="JSON_LINES_STDOUT"/>
    </root>
</configuration>
